.user-logged {
  padding-left: 30px;
}

.user-logged .dropdown-menu-navbar {
  left: 30px;
  /* right: 0; */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

  .user-logged .dropdown-menu-navbar {
    left: auto;
    right: 0;
  }
  
 }